/* declare variable usage for css files here */
/* use format: $variableName: value          */


$mainBlue: #65CCB8;
$darkGreen: #182628;
$lightGreen: #57BA98;
$green: #3B945E;
$white: #F2F2F2;
$black: #000;
$lightGrey: #caccce;
$darkGrey: #86888a;