</main>
<p class="footer">&COPY; 2018 Aristos CMS - version 0.0.3 - Node - Design by &nbsp;<a href="https://foxdesignagency.com" target="_blank">Fox Design Agency</a></p>

<div class="modal">
<div class="modal__inner">
    <h2 class="title title--centered">
            There is currently no easy way to contact us.
    </h2>

    <div class="social-icons">
        <a href="https://www.facebook.com/ataraxyclothing/" target="_blank" class="social-icons__icon">
            <span class="icon icon--facebook"></span>
        </a>
    </div>
</div>
<div class="modal__close">X</div>
</div>
<script src="/scripts/main.js"></script>
</body>

</html>